[submodule "SI_Toolkit"]
	path = SI_Toolkit
	url = https://github.com/SensorsINI/SI_Toolkit
	branch = master
[submodule "Control_Toolkit"]
	path = Control_Toolkit
	url = https://github.com/SensorsINI/Control_Toolkit
	branch = main
[submodule "Neuromorphic_MBRL"]
	path = Neuromorphic_MBRL
	url = https://github.com/Alex-Vasilache/NMBRL.git
