# Ignore experiment data except specific provided models
!/SI_Toolkit_ApplicationSpecificFiles/
/SI_Toolkit_ApplicationSpecificFiles/*

!/SI_Toolkit_ApplicationSpecificFiles/Experiments/
/SI_Toolkit_ApplicationSpecificFiles/Experiments/*

!/SI_Toolkit_ApplicationSpecificFiles/Experiments/Pretrained-RNN-1/

.DS_Store
*__pycache__
*.pyc
# *.csv
*.png
# *.txt
# *.ckpt.*
*.pt
*.env
*.vscode
/Modeling/SI_Toolkit/TF/NNI/NNI_Results
