GitPython
gym
imageio
engineering_notation
derivative
gpflow
gym
pygame
matplotlib
numba
numpy
pandas
pip
pygame
PyYAML
scikit-learn
scipy
setuptools
scikit-learn
sympy
tqdm
typing-extensions
PyQt6
tensorflow-probability
Pillow
gymnasium

torch
tensorflow==2.9.1

do-mpc==4.1.1
casadi
nni

-e ./SI_Toolkit
