GitPython
gym
imageio
engineering_notation
derivative
gpflow
gym
pygame
matplotlib
numba
numpy
pandas
pip
pygame
PyYAML
scikit-learn
scipy
setuptools
sklearn
sympy
tqdm
typing-extensions
PyQt6
tensorflow-probability
Pillow
# generallibrary # print links in logging output https://stackoverflow.com/questions/26300594/print-code-link-into-pycharms-console
dictdiffer

torch
tensorflow

do-mpc==4.1.1
casadi
nni
munch # https://github.com/Infinidat/munch
pypref # https://bachiraoun.github.io/pypref/
ruamel.yaml # to load yml files with numbers in scientific notation
python-vlc # to play music for cartpole-dancer, needs vlc installed to system also; make sure it is 64-bit version of VLC on windows!

-e ./SI_Toolkit
