
predictors_specifications_testing: ['I_love_control', 'I_love_control_too', 'GRU-6IN-32H1-32H2-5OUT-2']

# predictors_specifications may be a names from the list of predictors in config_predictors.yml (assuming specification make sense)
# It can be a names of networks or GPs e.g. 'GRU-6IN-32H1-32H2-5OUT-0' to be used for test
# For multiple network they must be in the same folder specified in predictors:neural_default:path_to_model
# One can also specify full path to each model as name,
# in this case the path from predictors:neural_default:path_to_model get overwritten
# Where multiple ODE models are available, one can specify the name after colon e.g. ["ODE:simple", "ODE:st"]
# In this case name from predictor_config is getting overwritten

test_file: 'Experiment-1.csv'

path_to_testfile: './SI_Toolkit_ASF/Experiments/Experiment-2/Recordings/Test/'

test_len: 'max'
test_max_horizon: 50  # Indicates prediction horizon for testing
test_start_idx: 0  # Indicates starting point from which data from test file should be taken

decimation: 1  # If your dataset has sampling frequency being multiple of your network's sampling frequency

test_hls: false