predictor_name_default: 'I_love_control'
# If controller does not specify predictor_specification (leave empty)
# a predictor from "predictors:predictor_name_default" from below is loaded
# Check config_testing.yml to learn more on how predictors are selected

predictors:
  ### THESE ARE DEFAULT PREDICTORS! DON'T CHANGE THEM, RATHER ADD YOUR PREDICTOR BELOW
  neural_default:
    predictor_type: 'neural'
    model_name: 'GRU-6IN-32H1-32H2-5OUT-0'
    path_to_model: './SI_Toolkit_ASF/Experiments/Experiment-2/Models/'
    update_before_predicting: True
    input_quantization: 'float'
  GP_default:
    predictor_type: 'GP'
    model_name: 'SGP_10'
    path_to_model: './SI_Toolkit_ASF/Experiments/Experiment-2/Models/'
  ODE_v0_default:
    predictor_type: 'ODE_v0'
    model_name:
    intermediate_steps: 10
  ODE_default:
    predictor_type: 'ODE'
    model_name:
    intermediate_steps: 10

  # ADD YOUR PREDICTORS BELOW

  I_love_control:
    predictor_type: 'neural'  # Possible options are: 'neural', 'GP', 'ODE, 'ODE_v0'
    model_name: 'GRU-6IN-32H1-32H2-5OUT-2'
    path_to_model: './SI_Toolkit_ASF/Experiments/Experiment-2/Models/'
    update_before_predicting: True

  I_love_control_too:
    predictor_type: 'ODE'
    model_name:
    intermediate_steps: 10
